<% @lists.in_groups_of(4, false).each do |group| %>
     <div class="row mb-2">
     <% group.each do |list| %>

    <div class="col-md-3 col-md-offset-2 p-3 mt-1">
        <div class="card card-m">
            <div class="card-body">
            <% if list.status === 0 %>
                <p class="badge badge-op">Open</p>
            <% elsif list.status === 1 %>
                <p class="badge badge-inf">Assigned</p>
            <% else %>
                <p class="badge badge-scs">Completed</p>
            <% end %>

            <p><strong><%= list.address %></strong><p>
            <div class="mx-auto card-text">
                <span><em>Posted on:<br> <%= time_tag(list.created_at) %></em></span><br>
                <span><%= list.travel_distance %> away from you</span><br>
                <% if current_user.role === "user" %>
                    <span>Approximately: <%= list.travel_time %></span>
                <% end %>
                <% sum = 0 %>
                <% list.types.each do |ele| %>
                    <% sum = sum + ele.weight %>
                <% end %>
                <span>Weight: <%= sum %> kg</span>
                <span style="display: block; margin: auto; width: fit-content;">
                <%= link_to "Show more", list_path(list), :class => 'mx-auto btn btn-outline-info my-3' %>
                </span>
            </div>
        </div>
        </div>
    </div>
<% end %> 
</div>
<% end %>

<%= javascript_tag do %>
    $(function() {
        $("time.timeago").timeago();
    });
<% end %>