<h1>Lists#new</h1>
<p>Find me in app/views/lists/new.html.erb</p>

<%= form_for @list do |f| %>
    <div>
        <%= f.label :address %>
        <%= f.text_field :address %>
    </div>

    <div>
        <%= f.label :pickUpDate %>
        <%= f.date_field :pickUpDate %>
    </div>

    <div>
        <%= f.label :remarks %>
        <%= f.text_field :remarks %>
    </div>

    <h3>Items</h3>
    <button id="addItemToList"> Add new item</button>
    <div  class="TypesContainer" ></div>

    <div><%= f.submit %></div>

    <%= javascript_pack_tag 'addTypeToList' %>
<% end %>