<div class="container">
<h1>Lists</h1>
<hr>
<p>Belongs to: 
    <%= link_to user_path(@list.user) do %>
        <%= @list.user.username %>
    <% end %>
</p>
<p>Pick up address: <%= @list.address %></p>
<p>Pick up date: <%= @list.pickUpDate.to_s %></p>
<p>Created at: <%= @list.created_at.to_date %>, <%= time_ago_in_words(@list.created_at) %> ago</p>
<p>Remarks: <%= @list.remarks %></p>
<% if @list.status === 0 %>
    <p>Status: Open</p>
<% elsif @list.status === 1 %>
    <p>Status: Assigned</p>
<% else %>
    <p>Status: Completed</p>
<% end %>


<% sum = 0 %>
<% @list.types.each do |type| %>
    <% sum = sum + type.weight %>
<% end %>
<p>Total weight: <%= sum %>KG</p>

<hr>

<h3>Items in this list </h3>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Material</th>
      <th scope="col">Remarks</th>
      <th scope="col">Weight (KG)</th>
    </tr>
  </thead>
  <tbody>
    <% @list.types.each_with_index do |type, idx|%>
        <tr>
            <th scope="row"><%= idx + 1 %></th>
            <td><%= type.material %></td>
            <td><%= type.remarks %></td>
            <td><%= type.weight %></td>
        </tr>
    <% end %>
    </tbody>
</table>

<hr>

<h3>Status</h3>
<p>
    <% if @list.status == 0 %>
        This list is open
    <% elsif @list.status == 1 %>
        This list is assigned to: 
        <%= link_to user_path(@list.collector) do %>
            <%= @assigned %>
        <% end %>
    <% elsif @list.status == 2 %>
        This list is completed by: 
        <%= link_to user_path(@list.collector) do %>
            <%= @assigned %>
        <% end %>
    <% end %>
</p>

<%# The user is either admin or collecter and the status is open #%>
<%  if (current_user.role === "user" || current_user.role === "admin") && (@list.status === 0)  %>
    <%= form_for @list, url: assign_list_path(@list.id) do |f| %>
        <%= f.submit "Fulfil" ,:class => 'btn btn-outline-info btn-lg'%>
    <% end %>
<% end %>

<%# Admin/ assigned collector %>
<% if @list.user.id === current_user.id || current_user.role === "admin" || @list.collector === current_user.id %>
    <p>This list belongs to you</p> <%# For now.. We display the same message for all %>

    <%# This list belongs to the collector and the list is in progress %>
    <% if current_user.role === "user" && @list.status === 1 %>
        <%= form_for @list, url: complete_list_path(@list.id) do |f| %>
            <%= f.submit "Complete" ,:class => 'btn btn-outline-success btn-lg'%>
        <% end %>
    <% end %>
<% end %>

<%# The user can edit and destroy their own lists #%>
    
<%# Owner can delete list if it is open or completed i.e. not assigned %>
<% if current_user.id === @list.user.id && (@list.status === 0 || @list.status === 2) || current_user.role === "admin" %>
    <%= link_to "Delete", list_path(@list), method: "delete", data:{ confirm: "Are you sure?"},:class => 'btn btn-outline-danger' %>
<% end %>   

<%# Owner can only edit when the list is open or assigned i.e. not completed %>
<% if current_user.id === @list.user.id && (@list.status === 0 || @list.status === 1) || current_user.role === "admin" %>
    <%= link_to "Edit", edit_list_path(@list) ,:class => 'btn btn-outline-info'%>
<% end %>

</div>
