<div class="container" style="height: 80vh;">
    <div class="row mt-3">
        <div class="col-md-7 mx-auto text-center mb-3 howto">
            <span>Bag your items</span>
            <i class="fa fa-long-arrow-right mx-3"></i>
            <span>Add New List</span>
            <i class="fa fa-long-arrow-right mx-3"></i>
            <span>We'll collect it!</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 text-center mx-auto mt-5">
        <h4>List of Material Types We Collect</h4>
        <div class="row mt-5">
            <div class="col">
            <%= image_tag('/howitworks-1.png', width: "120px", height: "120px") %>
            <p class="mt-2">Glass</p>
            </div>
            <div class="col">
            <%= image_tag('/howitworks-2.png', width: "120px", height: "120px") %>
            <p class="mt-2">Plastic</p>
            </div>
            <div class="col">
            <%= image_tag('/howitworks-3.png', width: "120px", height: "120px") %>
            <p class="mt-2">Paper</p>
            </div>
            <div class="col">
            <%= image_tag('/howitworks-4.png', width: "120px", height: "120px") %>
            <p class="mt-2">Cardboard</p>
            </div>
            <div class="col">
            <%= image_tag('/howitworks-5.png', width: "120px", height: "120px") %>
            <p class="mt-2">Metal</p>
            </div>
            </div>
        </div>
    </div>
</div>
