<h1>Types#index</h1>
<p>Find me in app/views/types/index.html.erb</p>

<%= link_to "Add Types", new_type_path %>
<table class="table mt-4">
<tr>
    <td>Edit</td>
    <td>Material</td>
    <td>Remarks</td>
    <td>Weight</td>
    <td>Updated Date</td>
</tr>

<% @types.each do |type| %>
<tr>
    <td><%= link_to type.id, edit_type_path(type.id) %></td>
    <td><%= type.material.split('"')[1] %></td>
    <td><%= type.remarks %></td>
    <td><%= type.weight %>kg</td>
    <td><%= type.updated_at_was.strftime("%Y-%m-%d")%></td>
</tr>

<% end %>

</table>