<h1>Index</h1>

<% if current_user.role != "user" %>
    <%= link_to "Create new lists", new_list_path %>
<% end %>

<% @lists.each do |list| %>
    <div>
        <p>Place: <%= list.address %><p>
        <p>Place: <%= list.pickUpDate %><p>

        <% if list.status === 0 %>
            <p>Status: Open</p>
        <% elsif list.status === 1 %>
            <p>Status: Assigned</p>
        <% else %>
            <p>Status: Completed</p>
        <% end %>
        <p><%= link_to "Show more", list_path(list) %></p>
        <% sum = 0 %>
        <% list.types.each do |ele| %>
            <% sum = sum + ele.weight %>
        <% end %>
        <p>Weight: <%= sum %> KG
        </p>
    </div>
<% end %> 

<% if @lists.length === 0 %>
    <p>There are no lists.</p>
<% end %>

<script>
    $('.timestring').each(function() {
        this.textContent = moment(this.textContent).format('lll');
    });
</script>