<div class="container mt-3">

 <% if current_user.role === "user"%>
<h1 class="text-center">Browse List</h1>
<% else %>
<h1 class="text-center">See what others are recycling</h1>
<% end %>

<div>
<% if current_user.role != "user" %>
    <%= link_to "Create new lists", new_list_path , :class => 'btn btn-outline-success mt-2'%>
<% end %>
</div>

  <div class="row">
    <div class="col border mb-5 mt-5">
            <strong class="text-center">MAP</strong>
            <br>
            <br>
            <br>
            <br>
            <br>
    </div>
  </div>

<% @lists.in_groups_of(4, false).each do |group| %>
     <div class="row">
     <% group.each do |list| %>
    <div class="col-md-3 col-md-offset-2 border">
        <p>Place: <%= list.address %><p>
        <p>Place: <%= list.pickUpDate %><p>
        <% sum = 0 %>
        <% list.types.each do |ele| %>
            <% sum = sum + ele.weight %>
        <% end %>
        <p>Weight: <%= sum %> KG</p>

        <% if list.status === 0 %>
            <p>Status: Open</p>
        <% elsif list.status === 1 %>
            <p>Status: Assigned</p>
        <% else %>
            <p>Status: Completed</p>
        <% end %>
        <p><%= link_to "Show more", list_path(list) %></p>
    </div>
<% end %> 
</div>
<% end %>

<% if @lists.length === 0 %>
    <p>There are no lists.</p>
<% end %>

<script>
    $('.timestring').each(function() {
        this.textContent = moment(this.textContent).format('lll');
    });
</script>
</div>
</div>
</div>
