<h1>Index</h1>

<% if current_user.role != "user" %>
    <%= link_to "Create new lists", new_list_path %>
<% end %>

<%= image_tag @user.user_image %>

<% @lists.each do |list| %>
    <div>
        <%= list.address %>
        <p class="timestring"><%= list.pickUpDate %></p>
        distance away from you...
        <%= link_to "Show more", list_path(list) %>
    </div>
<% end %> 

<% if @lists.length === 0 %>
    <p>There are no lists.</p>
<% end %>

<script>
    $('.timestring').each(function() {
        this.textContent = moment(this.textContent).format('lll');
    });
</script>