<!DOCTYPE html>
<html>
  <head>
    <title>Trashtalks | Connect with a nearby recycling agent today</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-success notice mb-0"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger mb-0"><%= alert %></p>
    <% end %>

    <div class="navbar top-bar">
        <div class="brand ml-2">#TrashTalks</div>
        <a href="https://github.com/yh-sg/trashtalks" target="blank"><i class="fa fa-github git mr-2" style="font-size: 24px;"></i></a>
    </div>

    <% if user_signed_in? %>
      <%= link_to user_path(current_user.id) do %>
      <% end %>
        <%= link_to user_path(current_user.id) do %>
          <%= current_user.username %>
        <% end %>
        <%= link_to  "Logout", destroy_user_session_path, method: :delete %>    
      <% else %>
      <div class="navbar second-nav">
        <ul class="breadcrumb second-bread mx-auto">
          <li><%= link_to "Home", root_path, class: "bread-item mr-4" %></li>
          <span class="mr-4">|</span>
          <li><%= link_to "Sign Up", new_user_registration_path, class: "bread-item mr-4" %></li>
          <span class="mr-4">|</span>
          <li><%= link_to "Log In", new_user_session_path, class: "bread-item" %></li>
        </ul>
      </div>
    <% end %>
    <%= yield %>
    <footer>
      <div class="container footer">
        <div class="row justify-content-md-center">
          <div class="col-sm-3 text-center my-2">
            &copy; <strong>YAME</strong> 2020.<br>
            All Rights Reserved.
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
