<!DOCTYPE html>
<html>
  <head>
    <title>Trashtalks | Connect with a nearby recycling agent today</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap" rel="stylesheet">
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-success notice"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <% if user_signed_in? %>
      <% if current_user.role === "user"%>
        collector
      <% else %>
        <%= current_user.role %>
      <% end %>
        <%= link_to user_path(current_user.id) do %>
          <%= current_user.username %>
        <% end %>
        <%= link_to  "Logout", destroy_user_session_path, method: :delete %>    
      <% else %>
        <%= link_to  "Sign up", new_user_registration_path %>
        <%= link_to  "Sign In", new_user_session_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
